<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add 
			name ="TiDBConnectionString"
			connectionString="server=gateway01.ap-southeast-1.prod.aws.tidbcloud.com;Port=4000;UID=XRSopfWQHotT8C8.root;PWD=uv19w85h6K8kY0AU;database=warehouse;ConnectionReset=false;" />
	</connectionStrings>
</configuration>